<h1>Dashboard</h1>


<h2 class="mt-5">Device Usage</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Assigned</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Desktop</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Laptop</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Smart Phone</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>

</table>

<h2 class="mt-5">Software Compliance</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Name</th>
      <th> License Count</th>
      <th> Employee Count</th>
      <th> Compliant?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Microsoft Windows</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Microsoft Office</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Dropbox</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
		<tr>
			<th scope="row">Gmail</th>
			<td></td>
			<td></td>
      <td></td>
		</tr>
  </tbody>
</table>
