<div id="<%= dom_id employee %>">
  <p>
    <strong>Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Assigned devices:</strong>
    <%= employee.assigned_devices %>
  </p>

  <p>
    <strong>Assigned software:</strong>
    <%= employee.assigned_software %>
  </p>

</div>
