<div id="<%= dom_id device_manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= device_manufacturer.name %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= device_manufacturer.website %>
  </p>

</div>
