<h1>Editing manufacturer</h1>

<%= render "form", device_manufacturer: @device_manufacturer %>

<br>

<div>
  <%= link_to "Show this manufacturer", @device_manufacturer %> |
  <%= link_to "Back to manufacturers", device_manufacturers_path %>
</div>
