<h1>Editing device manufacturer</h1>

<%= render "form", device_manufacturer: @device_manufacturer %>

<br>

<div>
  <%= link_to "Show this device manufacturer", @device_manufacturer %> |
  <%= link_to "Back to device manufacturers", device_manufacturers_path %>
</div>
