<p style="color: green"><%= notice %></p>

<h1>Manufacturers</h1>

<div id="device_manufacturers">
  <% @device_manufacturers.each do |device_manufacturer| %>  
    <div class="card">
      <%= render device_manufacturer %>
      <p>
        <%= link_to "Show this manufacturer", device_manufacturer %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New manufacturer", new_device_manufacturer_path %>
