<h1>Editing device category</h1>

<%= render "form", device_category: @device_category %>

<br>

<div>
  <%= link_to "Show this category", @device_category %> |
  <%= link_to "Back to categories", device_categories_path %>
</div>
