<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="device_categories">
  <% @device_categories.each do |device_category| %>
    <div class="card">
      <%= render device_category %>
      <p>
        <%= link_to "Show this category", device_category %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New category", new_device_category_path %>
