
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Asset Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
           <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/employees">Employees</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/devices">Devices</a>
          </li>
			  	<li class="nav-item">                                
          	<a class="nav-link" href="/softwares">Software</a>    
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/other"
              role="button" data-bs-toggle="dropdown" 
              aria-expanded="false">Other</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/device_categories">Device Categories</a>
              </li>
              <li><a class="dropdown-item" href="/device_manufacturers">Device Manufacturers</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search">
          <input class="form-control me-2" type="search"
              placeholder="Search" aria-label="Search" name="query" value="<%= @query %>">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

