<div id="<%= dom_id software %>">
  <p>
    <strong>Name:</strong>
    <%= software.name %>
  </p>

  <p>
    <strong>License count:</strong>
    <%= software.license_count %>
  </p>

  <p>
    <strong>Assigned employees:</strong>
    <%= software.assigned_employees %>
  </p>

</div>
