<div id="<%= dom_id software %>">
  <p>
    <strong>Name:</strong>
    <%= software.name %>
  </p>

  <p>
    <strong>License count:</strong>
    <%= software.license_count %>
  </p>

  <p>
    <strong>Assigned employees:</strong>
    <ul>
      <% software.employees.each do |employee| %>
       <li><%= link_to employee.full_name, employee_path(employee) %></li>
      <% end %>
    </ul>
  </p>

</div>
