<p style="color: green"><%= notice %></p>

<h1>Softwares</h1>

<div id="softwares">
  <% @softwares.each do |software| %>
    <div class="card">
      <%= render software %>
      <p>
        <%= link_to "Show this software", software %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New software", new_software_path %>
